html, body{
  margin:0;
  height: 100%;
}

#contenedor{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}


.side{
  display:flex;
  align-items: center;
  justify-content: center;

}

.side_a{
  background-color: rgb(50, 65, 8);
}
